/* .d-flex{
    /* height: 750px; */
    
/* } */ 
.fs-4{
    margin-left: 10px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    
    
}
body{
    /* background-color:aliceblue; */
    background-image: url("./side.avif");
    background-size: cover;
    
}
.nav-link{
    /* text-align: center; */
}
#container{
    justify-items:center;
    margin-left: 600px;
    margin-top: 200px;
     /* font-size: 100px ; */
}
svg{
    color: white;
}
.fs-5{
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    text-shadow:2px 2px purple;
}